<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
   <listeners>
       <listener class-name="TestNGListeners.Listeners1"></listener>
   </listeners>

    <test verbose="2" preserve-order="true" name="C:/Users/MMK-USER/IdeaProjects/SeleniumOnes/src/test/java/TestNGListeners">
        <classes>
        <class name="TestNGListeners.testmethodsofDiffTypes"><methods><include name="testlogo"/>
            <include name="TestUrl"/>
        </methods>
        </class>
    </classes>
    </test>
</suite>