<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/MMK-USER/IdeaProjects/SeleniumOnes/src/test/java/POMWithPageFactory/LoginTestPOMobject.java"><classes><class name="POMWithPageFactory.LoginTestPOMobject"><methods><include name="logintest"/></methods></class></classes></test></suite>